{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning is not empty %}
            {% for error in error_warning %}
                <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error.error }}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
            {% endfor %}
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
                <h4 class="panel-title">{{ about_title }}</h4>
            </div>
            <div class="s-w">
                {% if payment_time_string is not none %}
                    {% if wappipro_test_result is same as(false) %}
                        <div class="alert alert-warning wappipro-alert wappipro-alert-failure alert-dismissible show" role="alert">
                            {{ payment_time_string }} 
                            <a href="#" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </a>
                        </div>
                    {% else %}
                        <div class="alert alert-success wappipro-alert wappipro-alert-success alert-dismissible show" role="alert" style="background-color: green; color: white;">
                            {{ payment_time_string }}
                            <a href="#" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true" style="color: white;">×</span>
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
                <div class="s-h">
                    <img src="{{ wappipro_logo }}" style="height: 50px" alt="wappipro">
                </div>
                <div class="s-b">
                    <div class="group">
                        <label><p>{{ instructions_title }}</p></label>
                        <ul>
                            <li><span class="tag">1</span>
                                <p>{{ step_1 }}</p></li>
                            <li><span class="tag">2</span>
                                <p>{{ step_2 }}</p></li>
                            <li><span class="tag">3</span>
                                <p>{{ step_3 }}</p></li>
                            <li><span class="tag">4</span>
                                <p>{{ step_4 }}</p></li>
                            <li><span class="tag">5</span>
                                <p>{{ step_5 }}</p></li>
                            <li><span class="tag">6</span>
                                <p>{{ step_6 }}</p></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body s-w">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-first-module" class="form-horizontal">
                    <div class="group">
                        <label>{{ btn_apiKey_text }}</label>
                        <input type="text" name="wappipro_apiKey" value="{{ wappipro_apiKey }}" placeholder="{{ btn_apiKey_placeholder }}" class="form-control">
                        <div class="text-muted">{{ btn_apiKey_description }}</div>
                    </div>
                    <div class="group">
                        <label>{{ btn_username_text }}</label>
                        <input type="text" name="wappipro_username" value="{{ wappipro_username }}" placeholder="{{ btn_username_placeholder }}" class="form-control">
                        <div class="text-muted">{{ btn_username_description }}</div>
                    </div>
                    <div class="group">
                        <label>{{ btn_test_text }}</label>
                        <input type="text" name="wappipro_test_phone_number" value="{{ wappipro_test_phone_number }}" placeholder="{{ btn_test_placeholder }}" class="form-control">
                        <div class="text-muted">{{ btn_test_description }}</div>
                        <input type="submit" name="wappipro_test" value="{{ btn_test_send }}" class="btn btn-primary">
                    </div>
                    {% for order_status in order_status_list %}
                        <div class="group">
                            <label>{{ order_status.name }}</label>
                            <input type="checkbox" name="wappipro_{{ order_status.order_status_id }}_active" value="true" {{ wappipro_order_status_active[order_status.order_status_id] == 'true' ? 'checked="checked"' : '' }}>
                            <label>{{ btn_duble_admin }}</label>
                            <input type="checkbox" name="wappipro_admin_{{ order_status.order_status_id }}_active" value="true" {{ wappipro_admin_order_status_active[order_status.order_status_id] == 'true' ? 'checked="checked"' : '' }}>
                            <textarea name="wappipro_{{ order_status.order_status_id }}_message" class="form-control">{{ wappipro_order_status_message[order_status.order_status_id] }}</textarea>
                            <div class="text-muted">{{ btn_status_order_description }}</div>
                        </div>
                    {% endfor %}
                    <input type="submit" name="wappipro_save_settings" value="{{ btn_token_save_all }}">
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}
